@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .ds1-main {
    @apply m-6 flex flex-col font-sans text-clrs-navy antialiased;
  }
}

.ikon {
  height: 96px;
  width: 96px;
  min-height: 96px;
  min-width: 96px;
}

@media (min-width: 500px) {
  .ikon {
    height: 144px;
    width: 144px;
  }
}

@media (min-width: 700px) {
  .ikon {
    height: 196px;
    width: 196px;
  }
}
